<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="All Test Suite">-->
<!--    <test verbose="2" preserve-order="true"-->
<!--          name="D:/JAVA NEW 2022/corejava-selenium-june22/src/main/java/com/matrix/nikhil/selenium/pageObjectMoedel3_MoviesDateVerify">-->
<!--        <classes>-->
<!--            <class name="com.matrix.AlleNikhil.selenium.pageObjectModel3_MoviesDateVerify.ImdbPage">-->
<!--                <methods>-->
<!--                    <include name="PageImdb"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.matrix.AlleNikhil.selenium.pageObjectModel3_MoviesDateVerify.TestPage">-->
<!--                <methods>-->
<!--                    <include name="VerifyPage"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.matrix.AlleNikhil.selenium.pageObjectModel3_MoviesDateVerify.WikiPage">-->
<!--                <methods>-->
<!--                    <include name="pageWiki"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->